*{
    margin: 0;
    padding:0;
}
body{
    background-color:#ffd2a6;

}
.header-container{
    height: 615px;
    width: 100%;    
    position: relative;
}
.images{
    width: 100%;
    filter: brightness(60%) contrast(90%);
    position:absolute;
}
.logo{
    width:60%;
    background-repeat: no-repeat;
    position: absolute;
    top:10%;
    left:20%;

}
.text{
    position: absolute;
    top:55%;
    left:22%;
    height:100%;
    
}
.tagline{
    font-family:'Bills Mafia';
    font-size:70px;
    color:#f7bc19;
    letter-spacing: 8px;
}
.navigator{
    position:absolute;
    top:75%;
    left:17%;
    display:flex;
}
.nav{
margin:0 60px 0 30px;
letter-spacing:2px;
font-size: 25px;
font-weight: 900;
font-family:'Bahnschrift';
}
.nav a{
    color:white;
    transition: 0.3s;
}
.nav a:hover {
    color:orangered;
    text-decoration: none;
    filter:drop-shadow(7px 7px 7px black);
}
.layer{
position:absolute;
height:50px;
width:100%;
background-color: #a6280f;
bottom:0;
}
.booking{
text-align: center;
margin: 0;
padding:10px ;
left: 50%;
font-size:20px;
letter-spacing:1px;
font-family:'Bahnschrift';
}
.booking a{
    color:white;
}
.booking a:hover{
    text-decoration: none;
    color:orange;
    filter:drop-shadow(1px 1px 1px orangered)
}
.body-container{
    background-color: #ffd2a6;
    margin:42px 0 0 0;
    position: relative ;
    height:800px;
    width:100%;
}
.text-container{
    position:absolute;
    top:4%;
    left:5%;
    background-color: #5c3f2a;
    height: 75%;
    width: 90%;
}
.intro-text{
    float:left;
    padding:30px 0 0 50px;
    font-family:'';
    font-size: 50px;
    color:white;
    margin:20px;
}
.paragraph{
    margin:50px 0 0 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:#adadad;
}
.imagess{
    position:absolute;
    float:right;
    top:50px;
    right:10px;
    background-image: url(image-6.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    filter:drop-shadow(5px 5px 5px black);
    height:80%;
    width:50%;
}
.option-background{
    width: 100%;
    background-color:#ffd2a6;
}
.flex-option{
    width:70% ;
    position:relative;
    bottom:150px;
    left:15%;
}
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
    filter:brightness(40%);
  }
  .carousel-caption{
      font-size:30px;
  }
  .footer-container{
      text-align: center;
      position: relative;
      color:white;
      background-color:#1f1c10;
      height:200px;
      width:100%;
  }
  .footer-text{
    letter-spacing: 3px;
    position:absolute;
    font-size:15px;
    top:50%;
    left:30%;

  }
  .footer-copyright{
      letter-spacing:2px;
      position:absolute;
      font-size:10px;
      bottom:0;
      left:33%;
  }
  .logo2{
    width: 15%;
    background-repeat: no-repeat;
    position: absolute;
    top:10%;
    left:5%;

  }
 